.navbar {
  background-color: #fff;
}

.quem-somos {
  background-color: #9875
}

.parceiros {
  background-color: #8745
}

.margin {
  padding-top: 50px;
  padding-bottom: 50px;
}

#desc {
  padding-top: 30px;
}

footer {
  font-weight: bold;
}